<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Hanami Restaurant</title>
  </head>
  <body>

<div class="bgimg-1">
  <div class="caption">
    <!-- <span class="border">Hanami</span> -->
  </div>
</div>
<div class="row">
<div class="col-md-8" id="super_menu_one">
  <div id="main_div_venue" style="display: none;"><h2>Venue</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-2">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>


  <div class="row" >
<div class="col-md-8" id="building" >
  <div id="building_div" style="display: none;"> <h2>Building</h2>
  <p>
  Computer science is the study of the theory, experimentation, and engineering that form the basis for the design and use of computers. It is the scientific and practical approach to computation and its applications and the systematic study of the feasibility, structure, expression, and mechanization of the methodical procedures (or algorithms) that underlie the acquisition, representation, processing, storage, communication of, and access to information. An alternate, more succinct definition of computer science is the study of automating algorithmic processes that scale. A computer scientist specializes in the theory of computation and the design of computational systems.[1] </p>
</div>
</div>
  </div>

<div class="bgimg-3">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
<div class="row" id="change_content">
  <div class="col-md-8" id="terrace" >
 
  <div id="terrace_div" style="display: none;"> <h2>Terrace</h2>

<p>
Ruby on Rails, or simply Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.[4] </p>
</div>
</div>
</div>
<div class="bgimg-4">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
<div class="row" id="change_content">
  <div class="col-md-8" id="bar">
       

  <div id="bar_div" style="display: none;"> <h2>Bar</h2>
<p>
AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications. The JavaScript components complement Apache Cordova, the framework used for developing cross-platform mobile apps. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications. In 2014, the original AngularJS team began working on Angular (Application Platform). </p>
  </div>
</div>
</div>
<div class="bgimg-5">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" id="main_area">
       

  <div id="main_area_div" style="display: none;"> <h2>Main Area</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-6">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row">
<div class="col-md-8" id="super_menu_two">
  <div id="main_div_food" style="display: none;"><h2>Food</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-7">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" id="regular">
       

  <div id="regular_div" style="display: none;"> <h2>Regular</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-8">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" id="wedding_menu">
       

  <div id="wedding_menu_div" style="display: none;"> <h2>Wedding Menu</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-9">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
<div class="row">
<div class="col-md-8" id="super_menu_three">
  <div id="main_div_ideas" style="display: none;"><h2>Ideas</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<div class="bgimg-10">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" id="yours">
       

  <div id="yours_div" style="display: none;"> <h2>Yours</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-11">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
       
 <div class="row" id="change_content">
  <div class="col-md-8" id="mine">
       

  <div id="mine_div" style="display: none;"> <h2>Mine</h2>
<p>
A controller is a server-side component of Rails that responds to external requests from the web server to the application, by determining which view file to render. The controller may also have to query one or more models for information and pass these on to the view. For example, in an airline reservation system, a controller implementing a flight-search function would need to query a model representing individual flights to find flights matching the search, and might also need to query models representing airports and airlines to find related secondary data. The controller might then pass some subset of the flight data to the corresponding view, which would contain a mixture of static HTML and logic that use the flight data to create an HTML document containing a table with one row per flight. A controller may provide one or more actions. In Ruby on Rails, an action is typically a basic . </p>
  </div>

  </div>
</div>
<div class="bgimg-12">
  <div class="caption">
    <span class="borderDat">Datecs</span>
  </div>
</div>
<div class="row">
<div class="col-md-8" id="super_menu_four">
  <div id="main_div_plan" style="display: none;"><h2>Plan</h2>
  <!-- <div id="textdiv"> -->
  <p>В ресторант „Ханами” може да се потопите в елегантна и изтънчена обстановка характеризираща се със семплата и изчистена визия на японския стил. Кухнята е интернационална, а в менюто предлагаме кулинарни ястия от близо и далеч, като акцентираме на здравословната храна приготвена с любов. Специално селектираните вина и приготвени ястия съчетани с отличното обслужване са способни да накарат всеки клиент да се почувства специален. Ресторант „Ханами” е разположен в новата бизнес сграда на фирма „Датекс” в Дружба 1 на последния етаж с прекрасна гледка към Витоша. Ресторанта разполага с 180 седящи места и може да осигури провеждането на коктейли над 250 човека. Капацитета и обстановката на ресторанта го правят подходящо място за провеждане на сватбени тържества, коктейли, гала-вечери, банкети, семейни и фирмени тържества, сватби, рожденни дни.</p>
<!--   </div> -->
</div>
</div>
</div>
<!-- <div style="position:relative;">
  <div style="color:#black;background-color:#fff;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up text 2.</p>
  </div>
</div> -->
<div style="display: none;">
  <p id="lamer_id"></p>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">Restaurant</span>
  </div>
</div>

</body>
</html>
