
<p>Building</p>
<p>Фирма Датекс ООД е водещ производител и разработчик на ПОС решения. Като лидер във фискалните устройства в Европа, нашата мисия е да променим бъдещето на ПОС бизнеса, като предлагаме иновативни продукти, разработени и произведени от опитния ни екип под пълен контрол на качеството. Със страст за технологични иновации, качествени продукти и достъпни цени сме спечелили сърцата на стотици клиенти от цял свят.</p>