@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  overflow-x: hidden!important;
   // overflow-x: hidden;
    // overflow-y: hidden;

}

.bgimg-1, .bgimg-2, .bgimg-3 ,.bgimg-4,.bgimg-5,.bgimg-6, .bgimg-7 ,.bgimg-8,.bgimg-9,.bgimg-10,.bgimg-11,.bgimg-12{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("Home 1904 x 900.jpg");
  //min-height: 100%;
  height: 33.325em;
}

.bgimg-2 {
  background-image: url("Building 1904 x 900.jpg");
  //min-height: 400px;
 height: 33.325em;
}
.bgimg-3 {
  background-image: url("3.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-4 {
  background-image: url("4.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-5{
  background-image: url("5.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-6{
  background-image: url("6.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-7{
  background-image: url("7.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-8{
  background-image: url("8.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-9{
  background-image: url("9.jpg");
  //min-height: 400px;
   height: 33.325em;
}

.bgimg-10{
  background-image: url("10.jpg");
  //min-height: 400px;
   height: 33.325em;
}

.bgimg-11{
  background-image: url("11.jpg");
  //min-height: 400px;
   height: 33.325em;
}
.bgimg-12{
  background-image: url("12.jpg");
  //min-height: 400px;
   height: 33.325em;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3,.bgimg-4,.bgimg-5,.bgimg-6, .bgimg-7 ,.bgimg-8,.bgimg-9,.bgimg-10,.bgimg-11,.bgimg-12 {
        background-attachment: scroll;
    }
}

/* header */
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	// height: 44px;
	background-color: #fff;
	// border-bottom: 3px solid #2d3d51;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 300px;
	width: 310px;
	padding: 5px;
	font-weight: 700;
    background-image: url(logoh.png);
    background-repeat: no-repeat;
}
.header .logo {
	color: #233245;
}
.side-nav .logo {
	background-color: #fff;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 5px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #35475e;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	margin-top: 220px;
	margin-left: 70%;
	margin-right: 40%;
	margin-bottom:0px;
	position: fixed;
	width: 300px;
	min-height: 1000px;
	background-color: white;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.side-nav ul li {
	padding: 9px 8px;
	// border-bottom: 1px solid #3c506a;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
}

.side-nav ul li a {
	color: black;
	display: block;
	text-decoration: none;
	font-size: 25px;
}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
    text-align: center;
}
.side-nav ul li span:nth-child(2) {
    // margin-left: 10px;
	font-size: 28px;
	font-weight: 600;
	color: #c8a08c;
	// border-top: 20px;

}


@media screen and (min-width: 600px) {
	.header {
		background-color: #fff;
		z-index: 1;

	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
		font-size: 30px;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
		text-align:center;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
		font-size: 20px;
	}

}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 310px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
		text-align: center;
	}
	.side-nav ul li i {
		font-size: 16px;
		text-align: center;
	}
	.side-nav ul li a {
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	.side-nav .logo i {
		padding-left: 10em;
	}
	.side-nav .logo span {
		display: inline-block;
	}	
}
span{
	text-align: center;

}

@fond-face {
	font-family: Cormorant;
	src: url(assets\images\cormorant\CormorantSC-Medium.otf);
}

li {
	font-family: Cormorant;
}

.col-md-8  {
  margin-left:  135px!important;
  margin-right: 230px!important;
  color: #777!important;
  background-color:white!important;
  text-align:center!important;
  padding:50px 80px!important;
  text-align: justify!important;
}

.col-md-8 h3 {
	text-align:center!important;
}

.borderDat {
	background-color:transparent;
	font-size:25px;
	color: #f7f7f7;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
}

.caption span.borderDat {
  color: #fff;
  padding: 16px;
  font-size: 25px;
  letter-spacing: 10px;
}

#hideon_content{
	display: none;
	visibility: hidden;
}

#main_div h2 {
	color: #e6878c;
	font-family: Cormorant;
	font-size: 32pt;
}

p {
	font-family: Cormorant;
	font-size: 22pt;
}
.row{
	height:53.34em;
}
