<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hanami", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
      </ul>
    </nav>
  </div>
</header> -->
<div class="col-md-4 .col-md-offset-4">
<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Hanami</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<!-- <span>Brand</span> -->
			</div>
			<nav>
				<ul>
					<li><div id="dropdown-1" class="dropdown dropdown-processed">
						<a href="#super_menu_one" class="scroll_nav" id="venue">
							<span><i class="fa fa-user"></i></span>
							<span id="c_vanue">venue</span>
						</a>

						<div class="hide_divs_class" id="hide_divs_id_one" style="display: none;" >

						<ul>
							<li> <a href="#building" class="scroll_sub_nav" id="c_building"> building</a>    </li>
							<li> <a href="#terrace" class="scroll_sub_nav" id="c_terrace">terrace </a>    </li>
							<li>  <a href="#bar" class="scroll_sub_nav" id="c_bar">bar </a>    </li>
							<li>   <a href="#main_area" class="scroll_sub_nav" id="c_main_area">main area</a>   </li>
						</ul>
					</div>
				</div>
					</li>
					<li>
						<div id="dropdown-1" class="dropdown dropdown-processed">
							<a href="#super_menu_two" class="scroll_nav" id="food">
							<span><i class="fa fa-envelope"></i></span>
							<span id="c_food">food</span>
						</a>
						<div class="hide_divs_class" id="hide_divs_id_two" style="display: none;" >
							<ul>
							<li>  <a href="#regular" class="scroll_sub_nav" id="c_regular">regular</a>    </li>
							<li>   <a href="#wedding_menu" class="scroll_sub_nav" id="c_wedding_menu">wedding menu</a>   </li>

						</ul>
					</div>
				</div>
					</li>
					<li>
					<div id="dropdown-1" class="dropdown dropdown-processed">
							<a href="#super_menu_three" class="scroll_nav" id="ideas">
							<span><i class="fa fa-envelope"></i></span>
							<span id="c_ideas">ideas</span>
						</a>
						<div class="hide_divs_class" id="hide_divs_id_three" style="display: none;" >
							<ul>
							<li>  <a href="#yours" class="scroll_sub_nav" id="c_yours">yours</a>    </li>
							<li>   <a href="#mine" class="scroll_sub_nav" id="c_mine">mine</a>   </li>

						</ul>
					</div>
				</div>
			</li>
					<li>
						<div id="dropdown-1" class="dropdown dropdown-processed">
						<a href="#super_menu_four" class="scroll_nav" id="plan" >
							<span><i class="fa fa-credit-card-alt"></i></span>
							<span id="c_plan">plan</span>
						</a>
						<!-- <div class="hide_divs_class" id="hide_divs_id_four" style="display: none;">
							<ul>
							<li> <a href="#sub_menu" >building</a>    </li>
							<li> <a href="#terrace">terrace </a>    </li>
							<li>  <a href="#bar">bar </a>    </li>
							<li>   <a href="#main_area">main area</a>   </li>
						</ul>
					</div> -->
				</div>
					</li>
				</ul>
			</nav>
		</div>
</div>
